/* global settings */
:root {
  --pink:#F2A6BE; 
  --dark-pink: #c74d74;
  --shadow: rgba(199, 146, 150);

}
@font-face {
  font-family: "Muthiara";
  src: url("Muthiara.otf");
  /*font-family: "Hello Honey";  (diff font perchance)
  src: url("hello-honey.otf"); */
}

/* applies to everything on page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fills page */
html,
body { 
  height: 100%;
}

body {
  background: radial-gradient(rgb(255, 233, 233) 30%, var(--pink));
  display: flex; 
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

/* =============== falling flowers :) ===============*/
.petal {
  position: fixed;
  top: -190px;
  animation: fall linear infinite;
  opacity: 0.7;
  pointer-events: none;
  z-index: 0;
} 

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
  }
  50% {
    transform: translateY(50vh) rotate(180deg);
    opacity: 0.6;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

/* ========== SCENE SWITCHES =========== */
.scene {
  opacity: 0;
}

.scene.active {
  opacity: 100;
}

/* ========= SCENE -- ENVELOPE ========== */
#envelope-wrap {  /* wrapper includes envelope + button */
  display: flex;
  flex-direction: column; /* vertical stacking */
  align-items: center;
  
  gap: 40px;
  animation: updown 3s ease-in-out infinite;
}

@keyframes updown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
}

#envelope {
  position: relative;
  width: 260px; 
  height: 180px;
  background:rgb(255, 253, 246);
  border-radius: 8px;
  box-shadow: 0 0px 30px var(--shadow); 
}

#envelope.open #flap {
  transform: rotateX(180deg);
}
#flap {
  position: absolute; /* relative to parent(envelope) */
  top: 0;
  left: 0;  /* aligning w/ top left */
  width: 0;
  height: 0;
  border-left: 130px solid transparent;
  border-right: 130px solid transparent;
  border-top: 100px solid #F2A6BE; 
  filter: drop-shadow(0 0 5px var(--shadow));
  transition: transform 3s ease;
  transform-origin: top center;
}

#seal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
  transform: translate(-50%, -30%);
  transition: transform 0.3s ease;
}

#seal:hover {
  transform: translate(-50%, -30%) scale(1.1);
}

button {
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient(to right, #b31134, #d65a79);
  color: white;
  border-radius: 30px;
  padding: 10px 18px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 24px var(--shadow);
  transition: transform 0.25s ease, box-shadow 0.15s ease;
  
}
button:hover {
  transform: scale(1.08);
}
envelope.open {
  transform: rotateX(180deg);
} 

/* letter scenenee */ 
#progress-dots {
  display: flex; 
  gap: 8px; 
  flex-wrap: wrap; /* new line if overflows */
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--dark-pink);
}

/* FINAL */ 
#final-text {
  font-family: "Muthiara", "Hello Honey", cursive;
  font-size: 4rem; 
  letter-spacing: 3.5px;
  background: linear-gradient(to bottom, var(--pink), var(--dark-pink));
  /* clips the bg to text shape */
  -webkit-background-clip: text;
  background-clip: text;
  /* original text color transparent */
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: transform 0.15s ease-in-out;
}

#final-text:hover {
  transform: scale(1.05);
}

#frog {
  image-rendering: pixelated;
  width: 250px;  
  display: block;
  margin: 0 auto;
}